<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Autentificare</h2>
    {% if error %}
        <div style="color: red; font-weight: bold;">{{ error }}</div> <!-- Mesaj de eroare -->
    {% endif %}
    <form method="POST" action="/login">
        <label for="cod_candidat">Cod Candidat:</label>
        <input type="text" id="cod_candidat" name="cod_candidat" required>
        
        <label for="parola">Parola:</label>
        <input type="password" id="parola" name="parola" required>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>